html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#hitCounters {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 3vh;
}
